<h1>This is all the users</h1>

<a href="/users/new">Create New Author</a>

{{#each users}}
<div>
    <p>email: {{ this.email }}</p>
</div>
<a href="/users/{{this._id}}">View User</a>
<a href="/users/{{this._id}}?_method=DELETE">Delete User</a>
<hr />

{{/each}}