<h1>New Fine</h1>

<form method="post" action="/fines">
    <div>
        <label>Name</label>
    </div>
    <div>
        <input type="text" name="name" />
    </div>
    <div>
        <label>User</label>
    </div>
    <div>
        <input type="text" name="user" />
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>